@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.hero-content {
  p {
    span {
      color: white !important;
      font-size: 16px;
    }
  }
}

.project-info {
  p {
    font-weight: 300;
    color: white;
  }
}

.technology {
  border: 1px solid white;
  padding: 10px 14px;
  border-radius: 40px;
  background-color: #354147;
}

.footer-info {
  color: white;
  font-weight: 300;
  font-size: 18px;
}

.send-btn {
  border: 1px solid white;
  padding: 15px 24px;
  border-radius: 10px;
  background-color: #354147;
  width: 40%;
  color: white;
  font-size: 18px;
}

@media screen and (min-width: 1200px) {
  .technology {
    padding: 15px 24px;
    border-radius: 40px;
  }

  .send-btn {
    width: 20%;
  }

  .hero-content {
    p {
      span {
        font-size: 18px;
      }
    }
  }
}
